<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quotes</title>
</head>
<body>
  <a href="/">Home</a>
  <h1>Check out all the awesome quotes!</h1>
  <% for (const quote of quotes) { %>
    <h3>Author: <%= quote.name %></h3>
    <p>Quote: <%= quote.quote %></p>
  <% } %>
</body>
</html>